
.ion-content {
  --background: none !important;
}

.selected-class {
  text-decoration: underline;
  font-weight: bold;
}

.options{
  background-color: #F6F2F2;
  align-items: center;
  padding: 8px 16px;
  a {
    color: #466730;
  }
  ion-col{
    height: 100%;
    align-items: center;
  }
}
//.slide1{
//  height:100px !important;
//}
swiper-container {
  height:auto !important;
  overflow:auto !important;
}

.slide1{
  height:100px !important;
}

.slide2 {
  height: 100% !important;
}

ion-col{
  padding: 0;
}
.resultados{
  .header{
    margin: 8px 16px;
  }
  ion-row{
    padding: 8px 0;
  }
  .title{
    font-size: 18px;
  }
  a{
    color: black;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
  img{
    width: 16px;
    height: 16px;
  }
  .casa{
    display: flex;
    justify-content: flex-end;
  }
  .res{
    display: flex;
    justify-content: center;
  }
  .fora{
    display: flex;
    justify-content: flex-start;
  }
}
