
.ion-content {
  --background: none !important;
}

.selected-class {
  text-decoration: underline;
  font-weight: bold;
}

.options{
  background-color: #F6F2F2;
  align-items: center;
  padding: 4px 16px;
  a {
    color: #466730;
  }
  ion-col{
    height: 100%;
    align-items: center;
  }
}
