<!-- <ion-content>
  <div *ngIf="jogo is not null" >
    <app-info-equipas [jogo]="jogo"></app-info-equipas>
  </div>
  <ion-row>
    <ion-col size="4" style="display: flex; justify-content: center;">
      <p [ngClass]="{ 'selected-class': selected_index === 0 }" (click)="slideTo(0)">Geral</p>
    </ion-col>
    <ion-col size="4" style="display: flex; justify-content: center;">
      <p [ngClass]="{ 'selected-class': selected_index === 1 }" (click)="slideTo(1)">Plantel</p>
    </ion-col>
    <ion-col size="4" style="display: flex; justify-content: center;">
      <p [ngClass]="{ 'selected-class': selected_index === 2 }" (click)="slideTo(2)">Resultados</p>
    </ion-col>
  </ion-row>
      <swiper-container #swiper (swiperslidechange)="onSlideChange()">
        <swiper-slide>
          <div *ngIf="jogo">
            <app-info-geral [jogo]="jogo" style="z-index: 99;"></app-info-geral>
          </div>
        </swiper-slide>
        <swiper-slide>
          <ion-col>
            <div *ngIf="jogo is not null" >
              <app-info-plantel [jogo]="jogo"></app-info-plantel>
            </div>
          </ion-col>
        </swiper-slide>
        <swiper-slide>
          <ion-col>
          <ion-row>
            <h3>Arouca</h3>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>1 - 3</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Vitória SC</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>5 - 0</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Gil Vicente</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>2 - 2</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
          </ion-row>


          <ion-row>
            <h3>Benfica</h3>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>1 - 1</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Rio Ave</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>5 - 0</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Famalicão</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>2 - 0</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
          </ion-row>
        </ion-col>
        </swiper-slide>
    </swiper-container>
</ion-content>
 -->


 <ion-content>
  <div *ngIf="jogo is not null" >
    <app-info-equipas [jogo]="jogo"></app-info-equipas>
  </div>
  <ion-row class="options">
<!--    <a>test</a>-->
    <ion-col size="4">
      <a [ngClass]="{ 'selected-class': selected_index === 0 }" (click)="slideTo(0)">Geral</a>
    </ion-col>
    <ion-col size="4">
      <a [ngClass]="{ 'selected-class': selected_index === 1 }" (click)="slideTo(1)">Plantel</a>
    </ion-col>
    <ion-col size="4" style="display: flex; justify-content: center;">
      <a [ngClass]="{ 'selected-class': selected_index === 2 }" (click)="slideTo(2)">Resultados</a>
    </ion-col>
  </ion-row>
      <swiper-container #swiper (swiperslidechange)="onSlideChange()">
        <swiper-slide>
          <div *ngIf="jogo">
            <app-info-geral [jogo]="jogo" style="z-index: 99;"></app-info-geral>
          </div>
        </swiper-slide>
        <swiper-slide>
          <ion-col>
            <div *ngIf="jogo is not null" >
              <app-info-plantel [jogo]="jogo"></app-info-plantel>
            </div>
          </ion-col>
        </swiper-slide>
        <swiper-slide>
          <ion-col>
          <ion-row>
            <h3>Arouca</h3>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>1 - 3</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Vitória SC</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>5 - 0</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Gil Vicente</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>2 - 2</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
          </ion-row>


          <ion-row>
            <h3>Benfica</h3>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>1 - 1</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Rio Ave</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>5 - 0</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Arouca</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Famalicão</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="4">
              <p>2 - 0</p>
            </ion-col>
            <ion-col size="1">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            </ion-col>
            <ion-col size="3">
              <p>Benfica</p>
            </ion-col>
          </ion-row>
        </ion-col>
        </swiper-slide>
    </swiper-container>
</ion-content>
