ion-card-header{
  padding: 0;
}
ion-col{
  padding: 0;
}
ion-row{
  padding: 0;
  align-content: center;
}
a {
  color: black;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

ion-card{
  background-color: #F6F2F2;
  border-radius: 25px;
}
