<ion-col>
  <ion-row>
    <ion-col size="4">
      <a><b>Competição: </b> </a>
    </ion-col>
    <ion-col class="values">
      <a>{{jogo.competicao}}</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <a><b>Data/hora: </b></a>
    </ion-col>
    <ion-col class="values">
      <a>{{jogo.data | date: 'dd-MM-yyyy HH:mm'}}</a>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4" >
      <a><b>Localização: </b></a>
    </ion-col>
    <ion-col class="values">
      <a>{{jogo.estadio.nome}}</a>
    </ion-col>
  </ion-row>
  <div id="map"></div>
</ion-col>
