<ion-content overflow-scroll="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
        Calendário
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="podium-outline"></ion-icon>
        Classificações
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="person-circle"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
