// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{
  --ion-item-background: #fff !important;
}


ion-spinner {
  --color: #C7EEA9;
}

h2{
  color: white;
  text-shadow:
  -1px -1px 0 #466730,
   1px -1px 0 #466730,
  -1px  1px 0 #466730,
   1px  1px 0 #466730;
  font-family: 'Roboto';
}

ion-item{
  color: #466730;
  background-color: #C7EEA9;
}

ion-icon{
  color: #466730;
}


.registo{
  align-items: center;

  p{
    color: white;
    text-shadow:
      -1px -1px 0 #466730,
      1px -1px 0 #466730,
      -1px  1px 0 #466730,
      1px  1px 0 #466730;
    font-family: 'Roboto';
  }
}
:root{
  --ion-color-primary: #C7EEA9;
}

