<app-auth-layout>
  <div class="content">
    <div>
      <h2>Gamebook</h2>
      <p>Faça login para continuar</p>
    </div>

    <form>
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked" placeholder="Insert your e-mail">
            <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Password" labelPlacement="stacked" placeholder="Insert your password">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>
    </form>

    <div class="action">
      <button class="googleBtn" mat-flat-button>Entrar</button>
      <div class="sizer"></div>

      <div class="dividerOr">
        <mat-divider></mat-divider>
        <div style="width: 5px;"></div>
        <a>OU</a>
        <div style="width: 5px;"></div>
        <mat-divider></mat-divider>
      </div>

      <div class="sizer"></div>
      <div class="links">
        <p><a href="./registo">Registe-se</a> se não tiver uma conta</p>
      </div>

    </div>
  </div>
  </app-auth-layout>
