<app-auth-layout>
  <div class="content">
    <div>
      <h2>Gamebook</h2>
      <p>Faça login para continuar</p>
    </div>

    <ion-spinner name="crescent" class="spinner"></ion-spinner>

    <div class="action">
      <button class="googleBtn" mat-flat-button>Google</button>
    <div class="sizer"></div>

      <div class="dividerOr">
        <mat-divider></mat-divider>
        <div style="width: 8px;"></div>
        <a>OU</a>
        <div style="width: 8px;"></div>
        <mat-divider></mat-divider>
      </div>

    </div>
  </div>
  </app-auth-layout>
