ion-content {
  --background: none;
  background-image: url('../../assets/img/fundo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.registo-form{
  margin-left: 8px;
  width: 50%;
  margin: 0 auto;
}

mat-form-field{
  width: 100%;
}
