<app-auth-layout>
  <div class="content">
    <div>
      <h2>Registe-se</h2>
      <p>Faça o seu registo e descubra uma nova realidade futebolística</p>
    </div>
    <form>
        <ion-item>
          <ion-input label="Email" labelPlacement="stacked"  formControlName="email" [clearInput]="true">
            <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Palavra-passe" labelPlacement="stacked" formControlName="password" [clearInput]="true">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Confirme a palavra-passe" labelPlacement="stacked" formControlName="confirme" [clearInput]="true">
            <ion-icon slot="start" name="refresh-outline" aria-hidden="true"></ion-icon>
          </ion-input>
        </ion-item>
    </form>

    <div class="action">
      <button class="googleBtn" mat-flat-button>Registar</button>
      <div class="sizer"></div>

      <div class="dividerOr">
        <mat-divider></mat-divider>
        <div style="width: 5px;"></div>
        <a>OU</a>
        <div style="width: 5px;"></div>
        <mat-divider></mat-divider>
      </div>

      <div class="sizer"></div>
      <div class="links">
        <p><a href="./login">Login</a> se tiver conta criada</p>
      </div>
    </div>
  </div>
  </app-auth-layout>
