<app-auth-layout>
  <div class="content">
    <div class="backContainer">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </div>
    <div>
      <h2>Registe-se</h2>
      <h6>Faça o seu registo e descubra uma nova realidade futebolística</h6>
    </div>
    <form [formGroup]="validators" (ngSubmit)="register(validators.value)">
      <ion-col size="12" class="ion-margin-bottom">
        <ion-input class="ion-text-left" type="email" label="Email" labelPlacement="stacked" placeholder="Insert your e-mail" fill="outline" shape="round" formControlName="email">
          <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
        </ion-input>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="validators.get('email')!.hasError(validation.type) && (validators.get('email')!.dirty || validators.get('email')!.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div style="height: 24px;"></div>
        <ion-input class="ion-text-left" type="password" label="Palavra-passe" labelPlacement="stacked" placeholder="Insert your password" fill="outline" shape="round" [counter]="true" [maxlength]="20" [clearInput]="true" formControlName="password">
          <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
          <ion-icon slot="end" name="eye" aria-hidden="true"></ion-icon>
        </ion-input>

        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validators.get('password')!.hasError(validation.type) && (validators.get('password')!.dirty || validators.get('password')!.touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <div style="height: 24px;"></div>
        <ion-input class="ion-text-left" type="password" label="Confirme a palavra-passe" labelPlacement="stacked" placeholder="Insert your password" fill="outline" shape="round" [counter]="true" [maxlength]="20" [clearInput]="true">
          <ion-icon slot="start" name="refresh-outline" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-col>

      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirmPassword">
          <div class="error-message" *ngIf="validators.get('confirmPassword')!.hasError(validation.type) && (validators.get('confirmPassword')!.dirty || validators.get('confirmPassword')!.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <div>
        <button class="googleBtn" mat-flat-button type="submit">Registar</button>
      </div>
    </form>

    <div class="action">
      <div class="sizer"></div>
      <div class="dividerOr">
        <mat-divider></mat-divider>
        <div style="width: 5px;"></div>
        <a>OU</a>
        <div style="width: 5px;"></div>
        <mat-divider></mat-divider>
      </div>

      <div class="sizer"></div>
      <div class="links">
        <p><a (click)="goToLoginPage()">Login</a> se tiver conta criada</p>
      </div>
    </div>
  </div>
  </app-auth-layout>
