.spinner{
  transform: scale(2);
  display: none;
}

.content{
display: flex;
flex-direction: column;
justify-content: space-between;
padding-top: 25%;
padding-bottom: 5%;
align-items: center;
text-align: center;
height: 100%;
}

.content div p{
  align-content: center;
}

.googleBtn{
background-color: #C7EEA9 !important;
color: black !important;
}

.sizer{
height: 16px;
}

.dividerOr{
align-items: center;
width: 100%;
}

.mat-divider{
width: 45%;
color: white;
}

.action{
width: 100%;
padding-left: 16px;
padding-right: 16px;
display: flex;
justify-content: center;
flex-direction: column;
}

.action div{
display: flex;
justify-content: center;
flex-direction: row;
}

.action .links{
flex-direction: column;
align-items: center;
width: 100%;
}

.action .links p{
margin: 0px;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30%;

}

ion-item{
  margin-bottom: 5px;
  border-radius: 10px;
}

