<ion-content [fullscreen]="true">
  <div class="profileInfo">
    <ion-avatar>
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-row>
      <p>{{user?.email}}</p>
    </ion-row>
  </div>
  <ion-button (click)="logout()" size="small">Logout</ion-button>
  <div class="equipasFavoritas">
    <ion-row>
      <h5>Equipas Favoritas</h5>
    </ion-row>
    <ion-row  *ngIf="equipasFavoritas.length > 0">
      <ion-col *ngFor="let equipa of equipasFavoritas">
        <ion-row>
          <ion-icon name="star"></ion-icon>
          <a>{{equipa}}</a>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-fab-button size="small" (click)="abrirModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </div>
</ion-content>
